<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Add Details</title>
  <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

</head>
<body ng-app="myApp" ng-controller="namesCtrl">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SkyDock</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/admin">Home</a></li>
      <li class="active"><a href="/list">Listing</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  
   <!--<div class="search row">
	Searc by Point:<input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" ng-model="search.point" />
	</div>
	-->
  
  
  
  
    <div class="row panel panel-default">
	          <div class="col-md-12">
			    <div class="row" style="padding:  10px;background-color: blue;color: #fff;">
				   <div class="col-md-2">Tripid</div>
				   <div class="col-md-2">Name</div>
				   <div class="col-md-2">Prod</div>
				   <div class="col-md-2">Vol</div>
				    <div class="col-md-1">Rate</div>
					 <div class="col-md-1">IMEX</div>
					 <div class="col-md-1">berth</div>
					 
				   <div class="col-md-1">Action</div>
				</div>
			  </div>
			  <div class="col-md-12" ng-repeat="x in chart | filter:search">
			    <div class="row" style="padding: 10px;">
				   <div class="col-md-2">{{x.tripid}}</div>
				   <div class="col-md-2">{{x.name}}</div>
				   <div class="col-md-2">{{x.prod}}</div>
				   <div class="col-md-2">{{x.vol}}</div>
				   <div class="col-md-1">{{x.rate}}</div>
				   <div class="col-md-1">{{x.IMEX}}</div>
				   <div class="col-md-1">{{x.berth}}</div>
				   <div class="col-md-1"><button ng-click="delete_event(x.timestamp)" >Delete</button></div>
				</div>
			  </div>
			 <div ng-show="!chart.length" style="padding: 15px 19px 17px 21px;">No Result Found!</div>
  
     </div>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</body>
<script>
//var app=angular.module("myApp",['ui.bootstrap','ngRoute']);
var app=angular.module("myApp",[]);
app.controller('namesCtrl',function($scope,$http,$location){

              // $scope.names = [{"id": "1001878",},{"id": "100343",}];
               //$http({method: 'GET', url: 'http://localhost:3000/listview'}).success(function(data8) {}); 
                $http({method: 'GET', url: 'http://localhost:5000/skydock_schudle/946665000000/2524588200000'}).success(function(response) 
				{
				$scope.chart = response;
					console.log(response)				
				}); 


			$scope.delete_event = function(str) {
			       var result = confirm("Du you Want to delete?");
					if (result) {
						
						//console.log('http://localhost:5000/remove/'+str);
						$http({method: 'GET', url: 'http://localhost:5000/remove/'+str}).success(function(response) 
							{
							alert("Delete Successful");
							window.location = "http://localhost:5000/list"				
							},1000);
				
								
						}
		
				};	


			
});




</script>
</html>
